@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.navigation{
    width: 100%;
    height: 10vh;
    background-color: #000;
}

.logo img{
    width: 13vw;
    height: 8vh;
    padding-top: 1vh;
    padding-bottom: 2.5vh;
    padding-left: 1.5vw;
}

.logo span{
    color: #fff;
}

.nav-items{
    list-style: none;
    display: flex;
    padding-left: 25vw;
    font-size: 1rem;
    font-weight: 500;
    margin-top: -10vh;
    color: #fff;
}

.nav-item{
    padding: 1vh 1vw;
    cursor: pointer;
    padding: 2vh 1vw;
    margin-top: -1vh;
    user-select: none;
}
 
.nav-item:hover{
    background-color: aqua;
    border-radius: 10px;
} 

.nav-item i{
    margin-left: 0.5vw;
}

.nav-item .fa-user{
    margin-left: 0;
    margin-right: 0.5vw;
}

.tdn{
    text-decoration: none;
}

.button{
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    margin-left: 0.5vw;
}

.login{
    border: 2px solid wheat;
    margin-left: 1.25vw;
    border-radius: 10px;
}

.button:hover{
    background-color: white;
}


.nav-item .sub-list-1{
    position: absolute;
    margin-left: -26vw;
    width: 100vw;
    margin-top: 2vh;
    color: #fff;
    background-color: #000;
    height: 85vh;
    visibility: hidden;
    z-index: 2;
}

.nav-item .sub-list-1 .list{
    display: inline-block;
    list-style: none;
    padding: 10vh 0;
    text-align: center;
}

.nav-item .sub-list-1 .list .list-1,
.nav-item .sub-list-1 .list .list-2,
.nav-item .sub-list-1 .list .list-3,
.nav-item .sub-list-1 .list .list-4{
    background-color: wheat;
    border-radius: 10px;
    margin: 1em 1.8em;
    width: 20vw;
}

.nav-item .sub-list-1 .list .list-1 div,
.nav-item .sub-list-1 .list .list-2 div,
.nav-item .sub-list-1 .list .list-3 div,
.nav-item .sub-list-1 .list .list-4 div{
    font-size: 2rem;
    padding: 0.5em;
    text-align: justify;
}

.nav-item .sub-list-1 .list .list-1 li,
.nav-item .sub-list-1 .list .list-2 li,
.nav-item .sub-list-1 .list .list-3 li,
.nav-item .sub-list-1 .list .list-4 li{
    font-size: 1.25rem;
    padding: 1em 0.5em;
    text-align: justify;
    margin-left: 0.5em;
}

.nav-item:hover > .sub-list-1{
    transition: 0.5s all;
    visibility: visible;
}

.nav-item .sub-list-2{
    position: absolute;
    margin-left: -42vw;
    width: 100vw;
    margin-top: 2vh;
    color: #fff;
    background-color: #000;
    height: 85vh;
    z-index: 2;
    visibility: hidden;
}

.nav-item .sub-list-2 .list{
    display: inline-block;
    list-style: none;
    padding: 10vh 0;
    text-align: center;
}

.nav-item .sub-list-2 .list .list-1,
.nav-item .sub-list-2 .list .list-2,
.nav-item .sub-list-2 .list .list-3,
.nav-item .sub-list-2 .list .list-4{
    background-color: wheat;
    border-radius: 10px;
    margin: 1em 1.8em;
    width: 20vw;
}

.nav-item .sub-list-2 .list .list-1 div,
.nav-item .sub-list-2 .list .list-2 div,
.nav-item .sub-list-2 .list .list-3 div,
.nav-item .sub-list-2 .list .list-4 div{
    font-size: 2rem;
    padding: 0.5em;
    text-align: justify;
}

.nav-item .sub-list-2 .list .list-1 li,
.nav-item .sub-list-2 .list .list-2 li,
.nav-item .sub-list-2 .list .list-3 li,
.nav-item .sub-list-2 .list .list-4 li{
    font-size: 1.25rem;
    padding: 1em 0.5em;
    text-align: justify;
    margin-left: 0.5em;
}

.nav-item:hover > .sub-list-2{
    transition: 0.5s all;
    visibility: visible;
}

.nav-item .sub-list-3{
    position: absolute;
    margin-left: -53vw;
    width: 100vw;
    margin-top: 2vh;
    color: #fff;
    background-color: #000;
    height: 85vh;
    z-index: 2;
    visibility: hidden;
}

.nav-item .sub-list-3 .list{
    display: inline-block;
    list-style: none;
    padding: 10vh 0;
    text-align: center;
}

.nav-item .sub-list-3 .list .list-1,
.nav-item .sub-list-3 .list .list-2,
.nav-item .sub-list-3 .list .list-3,
.nav-item .sub-list-3 .list .list-4{
    background-color: wheat;
    border-radius: 10px;
    margin: 1em 1.8em;
    width: 20vw;
}

.nav-item .sub-list-3 .list .list-1 div,
.nav-item .sub-list-3 .list .list-2 div,
.nav-item .sub-list-3 .list .list-3 div,
.nav-item .sub-list-3 .list .list-4 div{
    font-size: 2rem;
    padding: 0.5em;
    text-align: justify;
}

.nav-item .sub-list-3 .list .list-1 li,
.nav-item .sub-list-3 .list .list-2 li,
.nav-item .sub-list-3 .list .list-3 li,
.nav-item .sub-list-3 .list .list-4 li{
    font-size: 1.25rem;
    padding: 1em 0.5em;
    text-align: justify;
    margin-left: 0.5em;
}

.nav-item:hover > .sub-list-3{
    transition: 0.5s all;
    visibility: visible;
}


.nav-item .sub-list-4{
    position: absolute;
    margin-left: -65vw;
    width: 100vw;
    margin-top: 2vh;
    color: #fff;
    background-color: #000;
    height: 85vh;
    z-index: 2;
    visibility: hidden;
}

.nav-item .sub-list-4 .list{
    display: inline-block;
    list-style: none;
    padding: 10vh 0;
    text-align: center;
}

.nav-item .sub-list-4 .list .list-1,
.nav-item .sub-list-4 .list .list-2,
.nav-item .sub-list-4 .list .list-3,
.nav-item .sub-list-4 .list .list-4{
    background-color: wheat;
    border-radius: 10px;
    margin: 1em 1.8em;
    width: 20vw;
}

.nav-item .sub-list-4 .list .list-1 div,
.nav-item .sub-list-4 .list .list-2 div,
.nav-item .sub-list-4 .list .list-3 div,
.nav-item .sub-list-4 .list .list-4 div{
    font-size: 2rem;
    padding: 0.5em;
    text-align: justify;
}

.nav-item .sub-list-4 .list .list-1 li,
.nav-item .sub-list-4 .list .list-2 li,
.nav-item .sub-list-4 .list .list-3 li,
.nav-item .sub-list-4 .list .list-4 li{
    font-size: 1.25rem;
    padding: 1em 0.5em;
    text-align: justify;
    margin-left: 0.5em;
}

.nav-item:hover > .sub-list-4{
    transition: 0.5s all;
    visibility: visible;
}


.nav-item .sub-list-5{
    position: absolute;
    margin-left: -77vw;
    width: 100vw;
    margin-top: 2vh;
    color: #fff;
    background-color: #000;
    height: 85vh;
    z-index: 2;
    visibility: hidden;
}

.nav-item .sub-list-5 .list{
    display: inline-block;
    list-style: none;
    padding: 10vh 0;
    text-align: center;
}

.nav-item .sub-list-5 .list .list-1,
.nav-item .sub-list-5 .list .list-2,
.nav-item .sub-list-5 .list .list-3,
.nav-item .sub-list-5 .list .list-4{
    background-color: wheat;
    border-radius: 10px;
    margin: 1em 1.8em;
    width: 20vw;
}

.nav-item .sub-list-5 .list .list-1 div,
.nav-item .sub-list-5 .list .list-2 div,
.nav-item .sub-list-5 .list .list-3 div,
.nav-item .sub-list-5 .list .list-4 div{
    font-size: 2rem;
    padding: 0.5em;
    text-align: justify;
}

.nav-item .sub-list-5 .list .list-1 li,
.nav-item .sub-list-5 .list .list-2 li,
.nav-item .sub-list-5 .list .list-3 li,
.nav-item .sub-list-5 .list .list-4 li{
    font-size: 1.25rem;
    padding: 1em 0.5em;
    text-align: justify;
    margin-left: 0.5em;
}

.nav-item:hover > .sub-list-5{
    transition: 0.5s all;
    visibility: visible;
}